:host * {
    transition: all 500ms ease-in-out;
}

.side-nav-header {
    padding-top: 24px;
    text-align: center;

    >img {
        border-radius: 100%;
        object-fit: cover;
        margin-bottom: 10px;
    }

    .header-text {
        height: 3rem;
        >h2 {
            margin: 0;
            font-size: 1rem;
            line-height: 1.5rem;
            color: black;
        }

        >p {
            margin: 0;
            font-size: .8rem;
            color: black;
        }
    }

    .hide-sidenav-text {
        opacity: 0;
        height: 0px !important;
    }
    
}

mat-nav-list a {

    border-radius: 0 !important;

}